<div class="searchevent-background">
<h1>Searched Events</h1>
<div class="list-align">
<div class="eventList" ng-repeat="event in events track by $index">

<div class="divForOneEvent">
  <div class="divSpotImg" style="background-image: url('{{event.logo.original.url}}')">

  </div>
      <div class ="eventDetailContain">
        <h4 class="spotName"><span class="infoText">NAME:</span> {{event.name.text}}<span><button class="saveButtonEvent" ng-click="savedEventSubmit(event)">Save Event</button></span></h4>

      <div>
        <p class= "infoEvent"><span class="infoText">LOCATION: </span>{{location.augmented_location.city}}, {{location.augmented_location.region }}</p>
      </div>
          <p class="infoText">TIME:{{event.start.local | date: 'medium'}} <span class="infoText">TO</span> {{event.end.local  | date: 'medium'}}</p>
        <hr />
        <p class="spotNum"><span class="infoText">DESCRIPTION:</span> {{event.description.text}}</p>
      </div>

</div>

</div>

</div>

</div>
