<div class="searchevent-background">
<h1>Searched Events</h1>

<div class="filterBox">
  <button  class="filterBoxHeader expandbutton btn btn-primary"  ng-click="display = !display">Filter By Category  <span class="caret"></span></button>

  <div ng-show="display">
    <button class="btn btn-default" ng-click="cat = ''">All</button>
    <button class="btn btn-default" ng-click="cat = '103'">Music</button>
    <button class="btn btn-default" ng-click="cat = '101'">Business & Professional</button>
    <button class="btn btn-default" ng-click="cat = '110'">Food & Drink</button>
    <button class="btn btn-default" ng-click="cat = '113'">Community & Culture</button>
    <button class="btn btn-default" ng-click="cat = '105'">Performing & Visual Arts</button>
    <button class="btn btn-default" ng-click="cat = '104'">Film, Media & Entertainment</button>
    <button class="btn btn-default" ng-click="cat = '108'">Sports & Fitness</button>
    <button class="btn btn-default" ng-click="cat = '107'">Health & Wellness</button>
    <button class="btn btn-default" ng-click="cat = '102'">Science & Technology</button>
    <button class="btn btn-default" ng-click="cat = '109'">Travel & Outdoor</button>
    <button class="btn btn-default" ng-click="cat = '111'">Charity & Causes</button>
    <button class="btn btn-default" ng-click="cat = '114'">Religion & Spirituality</button>
    <button class="btn btn-default" ng-click="cat = '115'">Family & Education</button>
    <button class="btn btn-default" ng-click="cat = '116'">Seasonal & Holiday</button>
    <button class="btn btn-default" ng-click="cat = '112'">Government & Politics</button>
    <button class="btn btn-default" ng-click="cat = '106'">Fashion & Beauty</button>
    <button class="btn btn-default" ng-click="cat = '117'">Home & Lifestyle</button>
    <button class="btn btn-default" ng-click="cat = '118'">Auto, Boat & Air</button>
    <button class="btn btn-default" ng-click="cat = '119'">Hobbies & Special Interest</button>
    <button class="btn btn-default" ng-click="cat = '199'">School Activities</button>
    <button class="btn btn-default" ng-click="cat = '120'">Other</button>
  </div>


  <button class="filterBoxHeader expandbutton btn btn-primary" ng-click="dateOpen = !dateOpen" >Filter By Date  <span class="caret"></span></button>

  <div ng-show="dateOpen" >
    <button class="btn btn-default" ng-click="dateFilter('today')">Today</button>
    <button class="btn btn-default" ng-click="dateFilter('tomorrow')">Tomorrow</button>
    <button class="btn btn-default" ng-click="dateFilter()">This Week</button>
    <button class="btn btn-default" ng-click="dateFilter()">Next Week</button>
    <button class="btn btn-default" ng-click="dateFilter()">This Month</button>
    <button class="btn btn-default" ng-click="dateFilter()">Next Month</button>
    <button class="recent1 btn btn-info" ng-click="toggleColor = !toggleColor">Recently Created</button>
  </div>


</div>

<div class="list-align">





  <div class="eventList" ng-repeat="event in myEvents | filter : {tags: cat } | filter : filteredDates track by $index">

  <div class="divForOneEvent">
    <div class="divSpotImg" style="background-image: url('{{event.eventimage}}')">

    </div>
        <div class ="eventDetailContain">
          <h4 class="spotName"><span class="infoText">{{event.title}}<button class="saveButtonEvent btn btn-primary" ng-click="savedEventSubmit(event)"><span class="glyphicon glyphicon-plus"></span></button></span></h4>

        <div>
          <p class= "infoEvent">{{event.location}}</p>
        </div>
            <p class="infoTime"><span class="infoFromTo">FROM </span> {{event.starts | date: 'short'}} <span class="infoFromTo">TO</span> {{event.ends  | date: 'short'}}</p>

          <!-- <p class="spotNum"><span class="infoText">More Info</span> </p> -->
            <div class="categoryTags">#{{categories[event.tags]}}</div>
        </div>
  </div>
  <button type="button" class="expandbutton btn btn-dark" ng-click="expand[category]=!expand[category]"><span class="caret"></span></button>
  <div class="expandBox" ng-show="expand[category]" >
    <h4>Description</h4>
    <div class="expandBoxDescription">
      {{event.eventdescription}}
    </div>

  </div>


  </div>












<div class="eventList" ng-repeat="event in events | filter : {category_id: cat} | filter : filteredDates track by $index">

<div class="divForOneEvent">
  <div class="divSpotImg" style="background-image: url('{{event.logo.original.url}}')">

  </div>
      <div class ="eventDetailContain">
        <h4 class="spotName"><span class="infoText">{{event.name.text}}<button class="saveButtonEvent btn btn-primary" ng-click="savedEventSubmit(event)"><span class="glyphicon glyphicon-plus"></span></button></span></h4>

      <div>
        <p class= "infoEvent">{{location.augmented_location.city}}, {{location.augmented_location.region }}</p>
      </div>
          <p class="infoTime"><span class="infoFromTo">FROM </span> {{event.start.local | date: 'short'}} <span class="infoFromTo">TO</span> {{event.end.local  | date: 'short'}}</p>

        <!-- <p class="spotNum"><span class="infoText">More Info</span> </p> -->
          <div class="categoryTags">#{{categories[event.category_id]}}</div>
      </div>



</div>

<button type="button" class="expandbutton btn btn-dark" ng-click="expand[category]=!expand[category]"><span class="caret"></span></button>

<div class="expandBox" ng-show="expand[category]" >
  <h4>Description</h4>

  <div class="expandBoxDescription">
    {{event.description.text}}
  </div>

     <button class="registerBtn btn btn-info"><a href="{{event.url}}">Register</a></button>
</div>


</div>











</div>




</div>
