<h1>EVENTS PAGE</h1>


<form id = "createEventPlace">
    <input type="text" class="eventTitle" placeholder="Event Title" />
    <input type="text" class="eventLocation" placeholder="Location" />
    <input type="text" class="eventEmail" placeholder="email" />
    <input type="text" class="eventStarts" placeholder="Starts" />
    <input type="text" class="eventEnds" placeholder="Ends" />
    <input type="text" class="eventImage" placeholder="Event Image" />
    <input type="text" class="eventDescription" placeholder="Event Description" />
    <button   class="eventSubmit" ui-sref="event"> Submit </button>
</form>
