<h1>EVENTS PAGE</h1>


<form id = "createEventPlace">
    <input type="text" class="eventTitle" ng-model="title" placeholder="Event Title" />
    <input type="text" class="eventLocation" ng-model="location" placeholder="Location" />
    <input type="text" class="eventEmail" ng-model="eventemail" placeholder="email" />
    <input type="text" class="eventStarts" ng-model="starts" placeholder="Starts" />
    <input type="text" class="eventEnds" ng-model="ends" placeholder="Ends" />
    <input type="text" class="eventImage" ng-model="eventimage" placeholder="Event Image url" />
    <input type="text" class="eventDescription" ng-model="eventdescription" placeholder="Event Description" />
    <button class="eventSubmit" ng-click="eventSubmit(title,location,eventemail,starts,ends,eventimage,eventdescription)"> Submit </button>
</form>
