<div class="backgroundForCreated">
<div class=profileContentTop>
  <h1 class="progilePageHeader">Profile PAGE</h1>

  <form id="inputUser" ng-hide="user.first_name && user.last_name && user.email">
    <input type="text" class="" ng-model="first" placeholder="first name" />
    <input type="text" class="" ng-model="last" placeholder="last name" />
    <input type="text" class="" ng-model="email" placeholder="email" />
    <button ng-click="updateUser(first,last,email)" class="search-button btn btn-info"> Submit </button>
  </form>

  <!-- //////////////////////////firebase//////////////////////// -->
  <form name="formPlaceHolder">
    <div class="profilePictureContain">
      <!-- <img class="profilePicture" style="background-image: url('{{user.profilepic}}')"> -->
      <div class="profilePicture" ngf-as-background="true" ngf-thumbnail="image || profilePic || user.profilepic"></div>
    </div>

    <div class="buttonContain">
      <button class="buttonAppearance" name="image" ngf-select ng-model="image">Upload image</button>
      <button class="buttonAppearance" ng-click="profilePicSubmit(first,last,email,image)">Submit</button>
    </div>

  </form>



  <div>
    <h1 class="profileFirstandLast">{{user.first_name}} {{user.last_name}}</h1> {{informationOnPage}}
  </div>
  <div>
    <h3 class="profileEmail">{{user.email}}</h3>
  </div>

  <div class="eventContain">
    <div ng-click="clickedEvents = 'saved'"><h5 class="eventTypeHeight">Saved Events</h5><div ng-show="clickedEvents == 'saved'" class="createdEventsWord"></div></div>

    <div ng-click="clickedEvents = 'created'"><h5 class="eventTypeHeight">Created Events</h5><div ng-show="clickedEvents == 'created'" class="savedEventsWord" ></div></div>

  </div>

</div>




<div ng-show="clickedEvents == 'saved'">


  <div class="myFirstCoverflowSaved">
    <coverflow list="mySavedEvents" delete="deleteSavedEvent(event)"></coverflow>
  </div>


<!-- ////////////////////////////////////////////////mobileview////////////////////////////////////////////////////// -->
<div class="mobileCoverflow">
  <div class="mobileRepeat" ng-repeat="event in mySavedEvents track by $index">
    <div class="mobileOneEvent">

      <div class="mobiledivSpotImg"style="background-image: url('{{event.image}}')">
        <div class="mobileEventDetailContain">
          <h3 class="mobileSavedTitle">{{event.title}}</h3>
          <h5>{{event.start | date: 'short'}} TO {{event.ends | date: 'short'}}</h5>
          <h5>{{event.location}}</h5>

        </div>


      </div>
      <!-- <button class="coverflowButton btn btn-danger" ng-click="deleteSavedEvent(event)"><span class="glyphicon glyphicon-trash"></span></button> -->

    </div>
    <button class="mobilecoverflowButton btn btn-danger" ng-click="deleteSavedEvent(event.id)"><span class="glyphicon glyphicon-trash"></span></button>

  </div>
</div>




</div>






<div class="coverflow-padding" ng-show="clickedEvents == 'created'">

  <div class="myFirstCoverflowCreated">
    <coverflow list="myEvents"  delete="deleteEvent(event)"></coverflow>
  </div>

  <!-- ////////////////////////////////////////////////mobileview////////////////////////////////////////////////////// -->
  <div class="mobileCoverflow">
    <div class="mobileRepeat" ng-repeat="event in myEvents track by $index">
      <div class="mobileOneEvent">

        <div class="mobiledivSpotImg"style="background-image: url('{{event.eventimage}}')">
          <div class="mobileEventDetailContain">
            <h3 class="mobileSavedTitle">{{event.title}}</h3>
            <h5>{{event.start | date: 'short'}} TO {{event.ends | date: 'short'}}</h5>
            <h5>{{event.location}}</h5>

          </div>

        </div>
        <!-- <button class="coverflowButton btn btn-danger" ng-click="deleteSavedEvent(event)"><span class="glyphicon glyphicon-trash"></span></button> -->

      </div>
      <button class="mobilecoverflowButton btn btn-danger" ng-click="deleteEvent(event.id)"><span class="glyphicon glyphicon-trash"></span></button>

    </div>
  </div>






  </div>




</div>
</div>
