<div class="backgroundForCreated">
<div class=profileContentTop>
  <h1 class="progilePageHeader">Profile PAGE</h1>

  <form id="inputUser" ng-hide="user.first_name && user.last_name && user.email">
    <input type="text" class="" ng-model="first" placeholder="first name" />
    <input type="text" class="" ng-model="last" placeholder="last name" />
    <input type="text" class="" ng-model="email" placeholder="email" />
    <button ng-click="updateUser(first,last,email)" class="search-button btn btn-info"> Submit </button>
  </form>

  <!-- //////////////////////////firebase//////////////////////// -->
  <form name="formPlaceHolder">
    <div class="profilePictureContain">
      <!-- <img class="profilePicture" style="background-image: url('{{user.profilepic}}')"> -->
      <div class="profilePicture" ngf-as-background="true" ngf-thumbnail="image || user.profilepic"></div>
    </div>

    <div class="buttonContain">
      <button class="buttonAppearance" name="image" ngf-select ng-model="image">Upload image</button>
      <button class="buttonAppearance" ng-click="profilePicSubmit(first,last,email,image)">Submit</button>
    </div>

  </form>



  <div>
    <h1 class="profileFirstandLast">{{user.first_name}} {{user.last_name}}</h1> {{informationOnPage}}
  </div>
  <div>
    <h3 class="profileEmail">{{user.email}}</h3>
  </div>

  <div class="eventContain">
    <div ng-click="clickedEvents = 'saved'"><h5 class="eventTypeHeight">Saved Events</h5><div ng-show="clickedEvents == 'saved'" class="createdEventsWord"></div></div>

    <div ng-click="clickedEvents = 'created'"><h5 class="eventTypeHeight">Created Events</h5><div ng-show="clickedEvents == 'created'" class="savedEventsWord" ></div></div>

  </div>

</div>




<div ng-show="clickedEvents == 'saved'">


  <div class="myFirstCoverflowSaved">
    <coverflow list="mySavedEvents" delete="deleteSavedEvent(event)"></coverflow>
  </div>

</div>






<div class="coverflow-padding" ng-show="clickedEvents == 'created'">

  <div class="myFirstCoverflowCreated">
    <coverflow list="myEvents"  delete="deleteEvent(event)"></coverflow>

  </div>

  </div>




</div>
</div>
